<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicWave</title>
    <link rel="stylesheet" href="../assets/css/home.css">
</head>

<body>
    <div class="search-bar">
        <div class="top-releases">
            MusicWave
        </div>
        <button class="btn-icon"><img src="../assets/images/Bullet_list_button.png"alt=""></button>
        <button class="btn-icon"><img src="../assets/images/Column_grid_button.png" alt=""></button>
        <div class="vertical-line"></div>
        <div class="search-song">
            <img src="../assets/images/Search_button.png" alt="" id="search-icon">
            <input id="search-song-input" type="text" placeholder="Search your favorite music"
                onclick="clearvalue(this)">
        </div>
    </div>
    <div class="welcome-bar">
        <div class="welcome-bar-text">
            <div id="greeting-div"></div>
            <div id="welcome-text">Here is your recommendations for today!</div>
        </div>
    </div>
    <div class="main-div">
        <div class="left-nav-bar">
            <div id="left-list-heading">Browse songs</div>
            <div class="horizontal-line"></div>
            <button class="left-list-btn">Only For You</button>
            <button class="left-list-btn">Top Releases</button>
            <button class="left-list-btn">Pop</button>
            <button class="left-list-btn">Hip-Hop</button>
            <button class="left-list-btn">Party</button>
            <button class="left-list-btn">Indie</button>
            <button class="left-list-btn">Summar</button>
            <button class="left-list-btn">Romance</button>
            <button class="left-list-btn">Workout</button>
            <div id="left-list-heading">My Playlists</div>
            <div class="horizontal-line"></div>
            <button class="left-list-btn">Romance</button>
            <button class="left-list-btn">Workout</button>
            <button id="1" class="left-list-btn">Chill</button>
            <button id="2" class="left-list-btn">Party</button>
            <button id="see-all-btn" class="see-all-btn" onclick="showall(this)">See all</button>

        </div>
        <div class="main-center">
            <div class="row-music-set">
                <div class="music-set">
                    <img src="../assets/images/Cradles.jpg" class="music-logo" alt="" srcset="">
                    <div class="music-name">Cradles</div>
                    <div class="music-artist">NCS</div>
                </div>
                <div class="music-set">
                    <img src="../assets/images/A Day At Sea.jpg" class="music-logo" alt="" srcset="">
                    <div class="music-name">A Day At Sea</div>
                    <div class="music-artist">NCS</div>
                </div>
                <div class="music-set">
                    <img src="../assets/images/Alan Walker - Dreamer (Egzod Remix) [NCS Release].jpg" class="music-logo" alt="" srcset="">
                    <div class="music-name">Dreamer</div>
                    <div class="music-artist">NCS</div>
                </div>
                <div class="music-set">
                    <img src="../assets/images/Arc North - Symphony (feat. Donna Tella) [NCS Release].jpg" class="music-logo" alt="" srcset="">
                    <div class="music-name">Symphony</div>
                    <div class="music-artist">NCS</div>
                </div>
                <div class="music-set">
                    <img src="../assets/images/believe me.jpg" class="music-logo" alt="" srcset="">
                    <div class="music-name">Believe me</div>
                    <div class="music-artist">NCS</div>
                </div>
            </div>
            <div class="row-music-set">
                <div class="music-set">
                    <img src="../assets/images/Blooom - Drowning [NCS Release].jpg" class="music-logo" alt="" srcset="">
                    <div class="music-name">Drowning</div>
                    <div class="music-artist">NCS</div>
                </div>
                <div class="music-set">
                    <img src="../assets/images/BOUNCE! -feat-(nieko).jpg" class="music-logo" alt="" srcset="">
                    <div class="music-name">Bounce</div>
                    <div class="music-artist">NCS</div>
                </div>
                <div class="music-set">
                    <img src="../assets/images/Diviners & Azertion - Reality (ft. Dayce Williams) [NCS Release].jpg" class="music-logo" alt="" srcset="">
                    <div class="music-name">Reality</div>
                    <div class="music-artist">NCS</div>
                </div>
                <div class="music-set">
                    <img src="../assets/images/Henri Werner - ITTY BITTY (feat. EHLE) [NCS Release].jpg" class="music-logo" alt="" srcset="">
                    <div class="music-name">ITTY BITTY</div>
                    <div class="music-artist">NCS</div>
                </div>
                <div class="music-set">
                    <img src="../assets/images/Heuse & METAHESH - I'll Be Here (Feat. Noctilucent) [NCS Release].jpg" class="music-logo" alt="" srcset="">
                    <div class="music-name">I'll Be Here</div>
                    <div class="music-artist">NCS</div>
                </div>
            </div>
            <div class="row-music-set">
                <div class="music-set">
                    <img src="../assets/images/N3WPORT x Britt Lari - Paradise [NCS Release].jpg" class="music-logo" alt="" srcset="">
                    <div class="music-name">Paradise</div>
                    <div class="music-artist">NCS</div>
                </div>
                <div class="music-set">
                    <img src="../assets/images/Part Native & Oly - Artificial Love [NCS Release].jpg" class="music-logo" alt="" srcset="">
                    <div class="music-name">Artificial Love</div>
                    <div class="music-artist">NCS</div>
                </div>
                <div class="music-set">
                    <img src="../assets/images/ReauBeau - Make Waves (feat. Brynja Mary) [NCS Release].jpg" class="music-logo" alt="" srcset="">
                    <div class="music-name">Make Waves</div>
                    <div class="music-artist">NCS</div>   
                </div>
                <div class="music-set">
                    <img src="../assets/images/Runaway.png" class="music-logo" alt="" srcset="">
                    <div class="music-name">Runaway</div>
                    <div class="music-artist">NCS</div>
                </div>
                <div class="music-set">
                    <img src="../assets/images/Sam Ourt, AKIAL & Srikar - Escape (Juan Dileju & Sam Ourt VIP Mix) [NCS Release].jpg" class="music-logo" alt="" srcset="">
                    <div class="music-name">Escape</div>
                    <div class="music-artist">NCS</div>
                </div>
            </div>
            <div class="row-music-set">
                <div class="music-set">
                    <img src="../assets/images/Tokyo Machine - SLASH [NCS Release].jpg" class="music-logo" alt="" srcset="">
                    <div class="music-name">SLASH</div>
                    <div class="music-artist">NCS</div>
                </div>
                <div class="music-set">
                    <img src="../assets/images/WBN x Mojnz - Radio [NCS Release].jpg" class="music-logo" alt="" srcset="">
                    <div class="music-name">Radio</div>
                    <div class="music-artist">NCS</div>
                </div>
                <div class="music-set">
                    <img src="../assets/images/Zack Merci X CRVN - Nobody [NCS Release].jpg" class="music-logo" alt="" srcset="">
                    <div class="music-name">Nobody</div>
                    <div class="music-artist">NCS</div>
                </div>
                <div class="music-set">
                    <img src="../assets/images/Zeneth & Knoir - Beam (ft. Gabriella) [NCS Release].jpg" class="music-logo" alt="" srcset="">
                    <div class="music-name">Beam</div>
                    <div class="music-artist">NCS</div>
                </div> 
            </div>
        </div>
        <div class="right-menu">
            <div class="top-picks-title">
                Recommended
            </div>
            <div class="horizontal-line"></div>
            <div class="music-list-div">
                <div class="music-list">
                    <div class="title-img">
                        <img src="../assets/images/A Day At Sea.jpg" class="music-list-song" alt="">
                    </div>
                    <div class="title-song">
                        <p >Show Me How </p>
                        <p class="song-artist">Boys Men</p>
                    </div>
                </div>


                <div class="music-list">
                    <div class="title-img">
                        <img src="../assets/images/A Day At Sea.jpg" class="music-list-song" alt="">
                    </div>
                    <div class="title-song">
                        <p >Show Me How </p>
                        <p class="song-artist">Boys Men</p>
                    </div>
                </div>


                <div class="music-list">
                    <div class="title-img">
                        <img src="../assets/images/A Day At Sea.jpg" class="music-list-song" alt="">
                    </div>
                    <div class="title-song">
                        <p >Show Me How </p>
                        <p class="song-artist">Boys Men</p>
                    </div>
                </div>
                <div class="music-list">
                    <div class="title-img">
                        <img src="../assets/images/A Day At Sea.jpg" class="music-list-song" alt="">
                    </div>
                    <div class="title-song">
                        <p >Show Me How </p>
                        <p class="song-artist">Boys Men</p>
                    </div>
                </div>
                <div class="music-list">
                    <div class="title-img">
                        <img src="../assets/images/A Day At Sea.jpg" class="music-list-song" alt="">
                    </div>
                    <div class="title-song">
                        <p >Show Me How </p>
                        <p class="song-artist">Boys Men</p>
                    </div>
                </div>
                <div class="music-list">
                    <div class="title-img">
                        <img src="../assets/images/A Day At Sea.jpg" class="music-list-song" alt="">
                    </div>
                    <div class="title-song">
                        <p >Show Me How </p>
                        <p class="song-artist">Boys Men</p>
                    </div>
                </div>
                <div class="music-list">
                    <div class="title-img">
                        <img src="../assets/images/A Day At Sea.jpg" class="music-list-song" alt="">
                    </div>
                    <div class="title-song">
                        <p >Show Me How </p>
                        <p class="song-artist">Boys Men</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="music-player">
        <img src="../assets/images/Cradles.jpg" class="music-player-icon" alt="" srcset="">
        <div class="song-name">
            <div class="music-name">Cradles</div>
            <div class="music-artist">NCS</div>
        </div>
        <div class="music-player-center">
            <div class="control-btn">
                <div id="play-pause" class="play"></div>
            </div>
           <audio src="../assets/audio/Sub Urban - Cradles.mp3" id="loadaudio"></audio>
        </div>
        <img src="../assets/images/volume.png" class="music-player-volume" alt="" srcset="">
        <input type="range" id="music-player-volumebar" min="0" max="1" step=".01" value=".5" onclick="changeVolume()" onmousemove="changeVolume()" />
    </div>
</body>
<script src="../assets/js/app.js"></script>

</html>